/* Layout geral */

.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f4f6;
    font-family: Arial, Helvetica, sans-serif;
}

/* Card */

.login-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Título */

.login-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}

/* Form */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Inputs */

.password-container {

    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
}

.password-container input {
    width: 100%;
    padding: 12px;
    padding-right: 40px;
    /* espaço para o ícone */
    border: 1px solid #ddd;
    border-radius: 8px;
}

.login-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: border 0.2s;
}

.login-input:focus {
    outline: none;
    border-color: #000;
}

.password-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    opacity: 0.6;
    display: flex;
    align-items: center;
}

.password-eye:hover {
    opacity: 1;
}

/* Botão */

.login-button {
    margin-top: 8px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.login-button:hover {
    opacity: 0.9;
}

/*  Loading no botão  */
.spinner {
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-top: 2px solid #000;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    display: inline-block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Erros */
.error-box {
    background: #ffecec;
    color: #d8000c;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
}

.input-error {
    border: 1px solid #d8000c;
}

.error-text {
    color: #d8000c;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}